/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #ff8dcb;
  --decor-color-transparent: rgba(53, 52, 48, 0.4);
  --title-color: #ffc2e6;
  --menu-color: var(--main-color);
  --rec-color: var(--main-color);
  --main-color: var(--black-light);
  --decor-color: var(--black-light);
  --section-title-color: var(--black-light);
  --bg-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --decor-color-transparent: rgba(53, 52, 48, 0.4);
    --title-color: #ffc2e6;
    --rec-color: var(--main-color);
    --menu-color: var(--main-color);
    --main-color: var(--black-light);
    --decor-color: var(--black-light);
    --section-title-color: var(--black-light);
    --bg-image: url("../images/cover-image-light.png");
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */ 
}

.theme-light .header__rec {
  display: none;
}


@media (prefers-color-scheme: light) {
  .header__rec {
    display: none;
  }
}
